body {
    margin: 0;
    background-color: blue;
    font-family: sans-serif;
}

.todo-container {
    text-align: center;
    border-radius: 15px;
    /* background-color:hsl(235, 24%, 19%); */
    width: 350px;
    margin: auto;
    margin-top: 30px;
}

.todo-container h1 {
    color: #fff;
}

.inputSection{
    background-color: hsl(235, 24%, 19%);
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 2px 7px #151a30db;
}

h1{
    margin: 0;
    margin-bottom: 15px;
    color: #ababab;
}

.inputSection input {
    color: silver;
    background-color: hsl(235, 24%, 19%);
    border-radius: 5px;
    border: 1px solid hsl(235, 24%, 19%);
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

ul {
    text-align: left;
    padding: 0;
}

ul li {
    display: flex;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    list-style: none;
    color: white;
    background-color: hsl(235, 24%, 19%);
    color: gray;
    box-shadow: 0 2px 7px #151a30db;
}

ul li i{
    text-align: end;
    flex: 1;
    align-items: center;
    cursor: pointer;
}

input::placeholder{
    color: gray;
}